.text{
    color: linear-gradient(142.83deg, #660062 21.93%, #C50076 51.21%, #FFE9F6 123.99%);

}

.button{
    background: linear-gradient(141.34deg, #660062 27.7%, #C50076 77.94%);

}

.footer{
    background: linear-gradient(96.11deg, #720064 0.95%, #B6016E 100%);
    color: white !important;

}

.swiper1 {
  width: 600px;
  height: 300px; 
}

.swiper1 img{
  width: 100%;
  height: 100%;
  @apply object-cover
}